*.meta
Arc System Works Shader/Arc System Old.shader
Misc/Comic Book Dot Shadows 1.shader
Arc System Works Shader/GG.txt
Misc/Custom light example.mat
*.backup
Arc System Works Shader/FakeLightRotConverter.cs
*.unitypackage
